* {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
  }
  

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;

}
input[type="date"] {
    font-size: 2em;
    color: green;
}

label {
    color: blue;
    font-weight: bold;
}